.data {
	display: none;
}

.g-signin2 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

img.tengah {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-color: #7C99AC;
}

.tombol{
	background-color: #FFEFEF;
}